.pertama{font-family: 'Ultra' ;}

.subscribe{
 color: aliceblue;
  border: none;
  border-radius: 2px;
 background-color: rgb(212, 41, 41);
}
.jointombol{
background-color: rgb(251, 253, 255);
border-color: blue;
border-width: 2px;
color: rgb(12, 115, 206);
}